In [ ]:
# 1. 개념 요약
# | 구분           | 설명                                |
# | ------------ | --------------------------------- |
# | **목적**       | 모집단의 평균이 특정한 값과 같은지 검정            |
# | **표본**       | 단 하나의 표본만 사용                      |
# | **사용 예시**    | 한 반 학생들의 평균 키가 170cm와 다른지 알고 싶을 때 |
# | **귀무가설(H₀)** | 모집단 평균 μ = 기준값 μ₀                 |
# | **대립가설(H₁)** | 모집단 평균 μ ≠ μ₀ (또는 >, <)           |

# 주제 : 우리 반 학생들의 평균 키(표본집단) 가 전국 평균(모집단) (170cm,평균)과 다른가?
# | 학생 번호 | 키(cm) |
# | ----- | ----- |
# | 1     | 172   |
# | 2     | 168   |
# | 3     | 171   |
# | 4     | 169   |
# | 5     | 170   |
# | 6     | 174   |
# | 7     | 173   |
# | 8     | 175   |
# | 9     | 169   |
# | 10    | 171   |


# 2. 검정 종류
# | 데이터 조건                | 검정 방법                   | 예시                       |
# | -----------------         | ----------------------- | ------------------------ |
# | 모집단 분산(σ²)을 알고 있음 | Z검정 (One-sample Z-test) | 표본이 30개 이상, 분산을 알고 있는 경우 |
# | 모집단 분산을 모름          | t검정 (One-sample t-test) | 표본이 적거나 분산을 모를 때         |

In [2]:
import pandas as pd
df = pd.DataFrame({
    'weights':[122, 121, 120, 119, 125, 115, 121, 118, 117, 127,
           123, 129, 119, 124, 114, 126, 122, 124, 121, 116,
           120, 123, 127, 118, 122, 117, 124, 125, 123, 121],
})
df

    weights
0       122
1       121
2       120
3       119
4       125
5       115
6       121
7       118
8       117
9       127
10      123
11      129
12      119
13      124
14      114
15      126
16      122
17      124
18      121
19      116
20      120
21      123
22      127
23      118
24      122
25      117
26      124
27      125
28      123
29      121

In [3]:
from scipy import stats # 통계 분석용 라이브러리 SciPy에서 stats 모듈 불러오기

# 귀무가설 표본평균 == 120
# 대립가설 표본평균 != 120
# p-value :  귀무가설이 맞을 확률 ( p < 0.05  - 귀무가설 기각  , p >=0.05 - 귀무가설 통과)  

# t검정
t_statistic, p_value = stats.ttest_1samp(df['weights'], 120) # 단일표본 t검정 수행 (표본평균이 120과 다른지 검정)
# df['weights']: 표본 데이터
# 120: 가설로 설정한 모집단 평균(μ₀ = 120)
# 결과로 t-통계량(t_statistic)과 유의확률(p_value) 반환

print("t-statistic:", t_statistic) # 계산된 t값(검정 통계량)을 출력
print("p-value:", p_value) # 계산된 p-값(유의확률)을 출력

t-statistic: 2.1155384372682344
p-value: 0.043092957066609296

In [4]:
# t검정 결과 전체를 한 번에 출력
print(stats.ttest_1samp(df['weights'], 120))

TtestResult(statistic=2.1155384372682344, pvalue=0.043092957066609296, df=29)

In [5]:
print(stats.ttest_1samp(df['weights'], 120, alternative='two-sided')) # 양측검정 (평균이 120과 '다른지' 검정 — 크거나 작을 수 있음)

TtestResult(statistic=2.1155384372682344, pvalue=0.043092957066609296, df=29)

In [6]:
print(stats.ttest_1samp(df['weights'], 120, alternative='greater')) # 오른쪽검정 (평균이 120보다 '큰지' 검정)

TtestResult(statistic=2.1155384372682344, pvalue=0.021546478533304648, df=29)

In [7]:
print(stats.ttest_1samp(df['weights'], 120, alternative='less')) # 왼쪽검정 (평균이 120보다 '작은지' 검정)

TtestResult(statistic=2.1155384372682344, pvalue=0.9784535214666953, df=29)