In [ ]:
#------------------------------------------------------------------------------
# 인구조사 데이터 이진 분류 ONLY CODE
#------------------------------------------------------------------------------

In [ ]:
#---------------------------------------
# 문제정의 
#---------------------------------------

In [ ]:
# 5만불 이상인지 아닌지 소득 예측

In [1]:
# 판다스 라이브러리
import pandas as pd

# 데이터 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
# train = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch2/train.csv')
# test = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch2/test.csv')

train

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,3331,34.0,State-gov,177331,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States,>50K
1,19749,58.0,Private,290661,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States,<=50K
2,1157,48.0,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States,<=50K
3,693,58.0,Private,100313,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States,>50K
4,12522,41.0,Private,195661,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29299,15999,28.0,Private,47168,10th,6,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40.0,United-States,<=50K
29300,21604,44.0,Local-gov,231793,Doctorate,16,Married-spouse-absent,Prof-specialty,Unmarried,White,Female,0,0,38.0,United-States,<=50K
29301,26839,41.0,Local-gov,201435,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40.0,United-States,<=50K
29302,16681,43.0,Private,137722,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40.0,United-States,<=50K
29303,16069,22.0,Private,406978,Bachelors,13,Never-married,Exec-managerial,Other-relative,White,Female,0,0,40.0,United-States,<=50K

In [2]:
#---------------------------------------
# EDA
#---------------------------------------
# 데이터 샘플
train.head()
train.tail()
train.sample()
# 데이터 크기
train.shape, test.shape
# 자료형 (타입)
train.info()
# 수치형 컬럼 통계값 확인(train)
train.describe()
# 수치형 컬럼 통계값 확인(test)
test.describe()
# 범주형 컬럼 통계값 확인 (train)
train.describe(include='O')
# 범주형 컬럼 통계값 확인 (test)
test.describe(include='object')
# 결측치 (train)
train.isnull().sum()
# 결측치 (test)
test.isnull().sum()
# label(target)별 개수 확인
train['income'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
 15  income          29304 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 3.6+ MB

income
<=50K    22263
>50K      7041
Name: count, dtype: int64

In [3]:
#---------------------------------------
# 데이터 전처리
#---------------------------------------

In [4]:
# train.drop(columns=['id'],inplace=True)
# test.drop(columns=['id'],inplace=True)

In [16]:
#---------------------
#결측치 처리
#---------------------
#결측치가 있는 데이터(행) 전체 삭제 및 확인 dropna() / 기본값 axis=0
# print("처리전:", train.shape)
# df = train.dropna()
# print("처리후:", df.shape)

# #결측치가 있는 특정컬럼 데이터(행)삭제
# df = train.dropna(subset=['native.country','workclass'])
# df.isnull().sum()

# #결측치가 있는 컬럼 삭제 dropna(axis=1)
# print("처리전:", train.shape)
# df = train.dropna(axis=1)
# print("처리후:", df.shape)

# #결측치가 많은 특정 컬럼 삭제 drop
# print("처리전:", train.shape)
# df = train.drop(['native.country','workclass'], axis=1)
# print("처리후:", df.shape)

# # 결측치채우기[범주형]  - 최빈값
# m = train['workclass'].mode()[0]
# train['workclass'] = train['workclass'].fillna(m)
# m = train['native.country'].mode()[0]
# train['native.country'] = train['native.country'].fillna(m)
# train.isnull().sum()

# # 결측치채우기[범주형]  - 임의값('X')
# train['occupation'] = train['occupation'].fillna('X')
# train.isnull().sum()

# # 결측치 채우기[범주형] - test
# test['workclass'] = test['workclass'].fillna(train['workclass'].mode()[0])
# test['native.country']  = test['native.country'].fillna(train['native.country'].mode()[0])
# test['occupation'] = test['occupation'].fillna("X")

# # 결측치 채우기[수치형] - 평균값
# value = int(train['age'].mean())
# print("평균값:", value)
# train['age'] = train['age'].fillna(value)
# test['age'] = test['age'].fillna(value)

# # 결측치 채우기[수치형] - 중앙값
# value = int(train['hours.per.week'].median())
# print("중앙값:", value)
# train['hours.per.week'] = train['hours.per.week'].fillna(value)
# test['hours.per.week'] = test['hours.per.week'].fillna(value)


# #---------------------
# # 이상치 처리
# #---------------------
# # age가 1이상인 데이터만 살림
# print(train.shape)
# train = train[train['age']>0]
# print(train.shape)

# #사분위수 이상치 범위 [예정]

# #---------------------
# # 인코딩[범주형 -> 수치형]
# #---------------------
# # 라벨(정답,y값) 분리
# y_train = train.pop("income")
# #----------
# # 원핫인코딩
# #----------
# # train_oh = pd.get_dummies(train)
# # test_oh = pd.get_dummies(test)
# # print(train.shape, test.shape, train_oh.shape, test_oh.shape)
# # #----------
# # 불균형해결
# # 불균형을 해결하는 목적은 모델이 특정 클래스에 치우치지 않고, 전체 데이터의 패턴을 공정하게 학습하도록 만드는 것
# #----------
# print(train.shape, test.shape)
# data = pd.concat([train, test], axis=0)
# data_oh = pd.get_dummies(data)
# train_oh = data_oh.iloc[:len(train)].copy()
# test_oh = data_oh.iloc[len(train):].copy()
# print(train_oh.shape, test_oh.shape)

#----------
# 라벨인코딩
#----------
cols = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex','native.country']
cols
from sklearn.preprocessing import LabelEncoder

for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

# train.head(7)
# train.info()
# test.info()


#----------
# y 인코딩
#----------
target = y_train.map({'<=50K':0, '>50K':1})
target.value_counts()

# # or
# target = y_train.replace('<=50K', 0).replace('>50K', 1)
# target.value_counts()

#---------------------
# 스케일링(수치형데이터 범위 설정 - 이진분류에서는 x)
#---------------------
# 수치형 컬럼명
cols = ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']
# 데이터를 매번 새롭게 불러오기 위해 함수로 제작 함
def get_data():
    train_copy = train.copy()
    test_copy = test.copy()
    return train_copy, test_copy
#----------
#MINMAX
#----------
# 민-맥스 스케일링 MinMaxScaler (모든 값이 0과 1사이)
# train_copy, test_copy = get_data()

# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# display(train_copy[cols].head(2))
# train_copy[cols] = scaler.fit_transform(train_copy[cols])
# test_copy[cols] = scaler.transform(test_copy[cols])
# display(train_copy[cols].head(2))

#----------
#STANDARD
#----------
# 표준화 StandardScaler (Z-score 정규화, 평균이 0 표준편차가 1인 표준 정규분포로 변경)
train_copy, test_copy = get_data()

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
display(train_copy[cols].head(2))
train_copy[cols] = scaler.fit_transform(train_copy[cols])
test_copy[cols] = scaler.transform(test_copy[cols])
display(train_copy[cols].head(2))
# #----------
#ROBUST
#----------
# 로버스트 스케일링 : 중앙값과 사분위 값 활용, 이상치 영향 최소화 장점
# from sklearn.preprocessing import RobustScaler
# scaler = RobustScaler()
# display(train[cols].head(2))
# train[cols] = scaler.fit_transform(train[cols])
# test[cols] = scaler.transform(test[cols])
# display(train[cols].head(2))

/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])
/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])
/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])
/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])
/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])
/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])
/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])
/tmp/ipykernel_132/653785391.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = le.fit_transform(train[col])

    age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
0  34.0  177331             10          4386             0            40.0
1  58.0  290661              9             0             0            40.0

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
0,-0.335121,-0.117705,-0.031462,0.440247,-0.216056,-0.035121
1,1.428590,0.956277,-0.420430,-0.146298,-0.216056,-0.035121

In [5]:
#---------------------------------------
# 검증 데이터 분할
#---------------------------------------

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train,
                                                  y_train,
                                                  test_size=0.2,
                                                  random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((23440, 14), (5861, 14), (23440,), (5861,))

In [7]:
#---------------------------------------
# 모델 학습
#---------------------------------------

In [8]:
# 랜덤포레스트
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(X_train, y_train)
pred=rf.predict_proba(X_val)  
pred[:10]
!pip install lightgbm
# LightGBM
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
pred = lgbmc.predict_proba(X_val)

Requirement already satisfied: lightgbm in /opt/conda/lib/python3.11/site-packages (4.6.0)
Requirement already satisfied: numpy>=1.17.0 in /opt/conda/lib/python3.11/site-packages (from lightgbm) (1.24.4)
Requirement already satisfied: scipy in /opt/conda/lib/python3.11/site-packages (from lightgbm) (1.11.3)

In [ ]:
#---------------------------------------
# 성능 평가
#---------------------------------------

In [9]:
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])
print('roc_auc:', roc_auc)

# from sklearn.metrics import accuracy_score
# accuracy = accuracy_score(y_val, pred)
# print('accuracy_score:', accuracy)

# from sklearn.metrics import f1_score
# f1 = f1_score(y_val, pred, pos_label='>50K')
# print('f1_score:', f1)

roc_auc: 0.9292700861917005

In [ ]:
#---------------------------------------
# 파일로 저장
#---------------------------------------

In [10]:
pred = lgbmc.predict_proba(test)
pred

lgbmc.classes_

submit = pd.DataFrame({'pred':pred[:,1]})
submit.to_csv("result.csv", index=False)

pd.read_csv("result.csv")

          pred
0     0.082289
1     0.021171
2     0.017958
3     0.839643
4     0.022541
...        ...
3252  0.007314
3253  0.375097
3254  0.057749
3255  0.010969
3256  0.022610

[3257 rows x 1 columns]

In [ ]:
#----------------------
# 학습결과 모델파일(model.pkl) 외부로 저장
#------------------------------------------

In [11]:
import joblib

# 모델 저장
model = rf
joblib.dump(model, "model.pkl")

['model.pkl']